.parent-form{
  display: flex;
  justify-content: center;
}
.auth-form-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(187, 185, 185);
  }
  h2{
    color: white;
  }
  label{
    color: white;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
  }
  .log-btn{
    background-color: #759EBD;
    color: white;
    width: 100%;
    margin-top: 30px;
  }
  .log-btn:hover{
    background-color: #678fad;
    color: white;
    width: 100%;
    margin-top: 30px;
  }
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }
  a{
    margin-top: 10px;
  }
  a:hover{
    color: white;
  }